@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:ital,wght@0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Work+Sans:wght@300;400;500&family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

body,
html,
#root {
   height: 100%;
   background: #FFFFFF;
   color: #2A286A;
   width: 100%;
   margin: 0;
   padding: 0;
   overflow-y: auto;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

@layer base {
   button {
      @apply min-w-[108px] h-12 rounded-3xl py-4 px-6 text-base font-[lato] font-semibold leading-4;
   }
}

@layer components {
   .lato {
      font-family: "Lato", sans-serif;
   }
   .raleway {
      font-family: "Raleway", sans-serif;
   }
   .skew-y {
      transform: skewY(3deg);
   }

   .skew-x {
      transform: skewX(3deg);
   }
   .sponsor-logo {
      mix-blend-mode: luminosity;
   }
   .carousel::-webkit-scrollbar {
      display: none;
   }
}




/* reset */
button,
h3 {
  all: unset;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	background-color: #000000;
	width: 1rem;
	height: 1rem;
}

.swiper-custom-pagination {
	margin-top: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-pagination-bullet-active {
	background-color: #9d2ce4 !important;
}

.swiper-button-prev, .swiper-button-next{
	background: #F8F8F8;
	border-radius: 50%;
	height: 1.2rem !important;
		width: 1.2rem !important;
	border: 2px solid #9d2ce4;
	color: #9d2ce4 !important;
	top: var(--swiper-navigation-top-offset, 90%) !important;
	
	@media screen and (min-width: 540px) {	
		height: 2.2rem !important;
		width: 2.2rem !important;
		top: var(--swiper-navigation-top-offset, 85%) !important;
	  }
}

